.footer__column_content_copyright {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(250px - 60px - 40px); /* Adjust min-height calculation if needed */
  }