.oakley {
    padding-top: 160px; /* 100px standard + 60px overlap compensation */
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding-bottom: 100px; /* Add some padding at the bottom */
  }